@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');


/* BODY */

body{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    }
    

/* NAV */

.container_nav{
    
    display: flex;
    justify-content: space-between;
}
.menu_1{
    display: flex;
    width: 500px; 
   
}


.menu_li{
    margin-right: 80px;
    margin-top: 15px;
    
}

.menu_li a{
    text-decoration: none;
    color: #0065FC;
    font-weight:600;
}
 
#logo{
   height: 3em;
   height: 3em;
   margin-left: 70px;
}


/* HEADER */

header{
    padding: 0 2em;
    margin: 0 0 0 40px;
}
header h1{
    font-size:larger;
    font-weight: 700;
}
header p{
    font-size:medium;
    font-weight:lighter;
}
header a{
    text-decoration: none;
}
input::placeholder{
    font-weight:bold ;
    color: black;
    
}

#search_bar{
    display: flex;
    align-items:center;  
}
#map_marker{
    width: 16px;
    height: 18px;
    padding:  10px 10px 10px 10px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#destination_search{
    padding:  9px 9px 9px 9px;
    border-style:solid;
    border-color: #F2F2F2;
    }

#filters{
    display: flex;
  }

header h2{
    margin-right: 40px;
    margin-top: 28px;
    font-size:large;
}  
header li{
    list-style: none;
    display: inline;
    justify-content: space-between;
}      
.filtres_h{
    text-decoration:none;
    display: inline-block;
    margin: 0 0px 10px 28px;
    padding: 10px 20px 10px 50px;
    border: solid thin #DEEBFF;
    border-radius: 30px;
    font-weight: bolder; 
    width: fit-content;
    color: black;  

}
.filtres_h:hover{
    background-color: chocolate;
}
button p{
    color: white;
    font-weight: bold;
    margin: 0 0 1px 0;
    text-decoration: none;
    
}

.picto{
    width: 18px;
    height: 18px;
    background-color: #DEEBFF;
    padding: 11px 11px 11px 11px;
    margin: 5px -62px 0 20px;
    border-radius: 30px;
    vertical-align: -14px;
   
     
}
#button_h{
    height: 37px;
    width: 8em;
    background-color: #0065FC;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
   
 }


.info{
    width: 500px;
    height: 25px;
    display: flex;
    margin-bottom: 20px;
}
#i{
    border: solid #DEEBFF thin;
    width: 18px;
    height: 18px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    font-weight:bolder;
    font-family:sans-serif;
    font-size: small;
    padding: -1px -1px -1px -1px;
    margin-top: 3px;
    
}
#info_text{
    width: 450px;
    display: flex;
    margin-left: 5px;
    align-items: center;
    font-weight:normal;
   
}

/* SECTION */

#title{
    position: relative;
    top: 30px;
    left: 34px;
}

#article1{
    width: 880px;
    height: 625px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    margin: 5px 75px 10px 65px;
    border-radius: 10px;
    
}

.text_art{
   margin: -15px 0 -20px 10px
   
}

.stars{
    margin: 5px 0 0 10px;
}

.hebergement_group{
    width: 880px;
    height: 625px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0 10px 0;
    align-content: center;
    padding:0 0 0 0px;
    justify-content: center;
    
    
 }

 
.hotel_pictures{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
}
.hébergement{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 200px;
    border-radius: 10px ;
    box-shadow:1px 1px 20px  gray;
    width: 245px;
    margin: 18px 18px 18px 18px;
    
        
}  
article a{
    text-decoration: none;
    color: black;
}     

#afficher {
    margin-left: 50px;
    margin-bottom: 30px;
    position: relative;
    right: 20px;
    bottom: 15px;
    font-weight: bold;
        
}
    
.colored_star{
    width: 1em;
    height: 1em;
    fill:blue
}
.grey_star{
    width: 1em;
    height: 1em;
}
.hotel_pictures{
    height: 115px;
    width: 235px;
    object-fit: cover;
    padding: 5px 6px 0 5px;

}
article h5{
    font-weight: normal;
}
/* ASIDE*/
.ha1{
    margin-left: 10px;
    
}
#aside1{
    background-color:#F2F2F2;
    height: 625px;
    width: 425px;
    border-radius: 10px;
    margin: 5px 10px 0 -20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.ha{
    background-color: white;
    width: 344px;
    height: 143px;
    border-radius: 10px;
    display: flex;
    box-shadow: 2px 2px 20px grey;
    margin-top: 40px;
     
    
}
.hotels_aside{
   height: 600px;
   width: 425px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-content: flex-end;
   padding-bottom: 30px;   

}

#logo_chart{
    width: 1em;
    height: 1em;
    margin: 20px 20px 0 0;


}
aside h5{
    font-weight:normal;
}
#title_aside{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0 35px; 
    position: relative;
    bottom: -35px;
       
       
}
.rating{
    margin-top: 15px;
    margin-left: 8px;
}
#text_aside{
   
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 100px;
    margin-left: 10px;
    
}
.info_hotel_aside{
    height: 45px;
    
}
aside a{
    text-decoration: none;
    color: black;
}
.text_a{
    margin: 5px 0 10px 15px;
}


.hotel_pictures_aside{
    height: 132px;
    width: 126px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 5px 0 0 -5px;
    object-fit: cover;
}

/* ARTICLE 2 ARTICLE2 ARTICLE2  ARTICLE2 */

.title_a2{
    margin-left: 20px;
}
.article2{
    width: 1400px;
    height: 600px;
    margin: 40px 0 0 50px;
    display: flex;
    flex-direction: column;
   
}

.container_a2{
    width: 1400px;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10px;
    
    
}

#vieux_port{
    height: 490px;
    width: 315px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;   
}
#fort_de_pomegues{
    height: 240px;
    width: 315px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    
}
#iles_du_frioul{   
    height: 150px;
    width: 315px;
    object-fit: cover; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
       
}
#calanques{
    height: 490px;
    width: 315px;
    object-fit: cover; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
#notre_dame{
    height: 190px;
    width: 315px;
    object-fit: cover; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
#parc_longchamp{
    height: 190px;
    width: 315px;
    object-fit: cover; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}
#section{
    display: flex;
    flex-wrap: wrap;
}
.act{
    border-radius: 15px;
    box-shadow: 1px 1px 10px grey;
    margin-right: 32px;
    width: 315px;
       
}

.legend_a2{
    margin-left: 20px;
    font-weight: bold;
}
/* FOOTER FOOTER FOOTER FOOTER */ 

.footer{
    width: 1480px;
    height: 300px;
    margin: 70px 0 0 0;
    padding-left: 20px;
    background-color: #F2F2F2;
    display: flex; 
    align-content: flex-start;
    
}

.foot1{
    margin: 20px 220px 0 50px;
    display: flex;
    flex-direction: column ;
    justify-content: top;
    padding-top: 30px;

    
}
ul{
    margin-left: -40px;
}
li{
    list-style: none;
    margin-bottom: 20px;

}
footer a{
    text-decoration: none;
    color: black;
}
